body {
    background: #86bf3b;
    margin: 0;
    padding: 0;
    font-family: AvantGardeCTT, sans-serif
;
}

.responseContainer {
    position: absolute;
    width: 550px;
    height: 450px;
    left: calc(50% - 275px);
    top: calc(50% - 225px);
    background: #fff;
    box-shadow: 0 0 50px -7px #545454;
    display: flex;
}

.responseDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:2rem 4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.responseDescription a{
    color: #101010;
    padding: 1rem 0 0 0;
}

.responseDescription h1 {
    font-size: 3rem;
}

.responseDescription p {
    color: #909090;
}


@media screen and (max-width: 550px) {
    .responseContainer {
        width: 400px;
        left: calc(50% - 200px);
        border-radius: 5px;
    }
}

@media screen and (max-width: 380px) {
    .responseContainer {
        width: 300px;
        left: calc(50% - 150px);
        height: 350px;
        top: calc(50% - 175px);
        border-radius: 5px;
    }

    .responseDescription {
        padding: 0 .3rem;
    }

    .responseDescription h1 {
        font-size: 1.7rem;
    }
}