.dop-block {
	width: 100%;
	height: 350px;
	background-color: #86bf3b;
}

.img-geneva {
	margin-top: 50px;
}

.img-geneva img {
	border-radius: 4px;
}

.geneva-gift {
	margin-top: 38px;
	text-align: left;
}
.geneva-gift span {
	font-size: 50px;
	font-family: ubuntu;
}
.geneva-gift label {
	font-size: 60px;
	font-family: ubuntu;
	color: #fff;
	text-decoration: line-through;
}

.geneva-text {
	margin-top: 38px;
	text-align: left;
}
.geneva-text span {
	font-size: 42px;
	font-family: ubuntu;
}

@media screen and (min-width: 0px) and (max-width: 321px) {
	.dop-block { height: 1130px; margin-top: -1px; }
	.dop-clock { margin-top: 0px; margin-bottom: 0px; }
}

@media screen and (min-width: 330px) and (max-width: 360px) {
	.dop-block { height: 1070px; }
	.dop-clock { margin-top: 0px; margin-bottom: 0px; }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
	.dop-block { height: 800px; }
	.dop-clock { margin-top: 20px; margin-bottom: 20px; }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
	.dop-block { height: 830px; }
	.dop-clock { margin-top: 20px; margin-bottom: 20px; }
}
@media screen and ( min-width: 1200px ) and ( max-width: 6000px ) {
	.dop-clock { margin-top: 20px; margin-bottom: 20px; }	
}




.order {
	display: none;
	width: 400px;
	height: 150px;
	border-radius: 17px;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 30px;
	right: 30px;
}


.wrap-order {
	padding: 15px;
}


.fast-order {
	display: none;
	width: 300px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	bottom: 20px;
	left: 20px;
}

.fast-order-text {
	padding: 15px;
	color: #fff;
	font-size: 20px;
	font-family: ubuntu;
}

.fast-order-close {
	color: #86bf3b;
	float: right;
	font-size: 15px;
	padding: 5px; 
	cursor: pointer;
}