@font-face {
font-family: "Proximanova Light";
src: url(../../../../fonts/proximanova-light.otf) format("opentype");
}
@font-face {
font-family: "Proximanova Regular";
src: url(../../../../fonts/proximanova-reg.otf) format("opentype");
}
@font-face {
font-family: "Proximanova Bold";
src: url(../../../../fonts/proximanova-bold.otf) format("opentype");
}
@font-face {
font-family: "Bebas Bold";
src: url(../../../../fonts/bebasneue-bold.otf) format("opentype");
}