* {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}



.land-title {
    font-family: ubuntu;
    font-size: 57px;
    line-height: 51px;
    font-weight: 700;
    margin: 20px 0 5px;
    letter-spacing: 2px;
}

.land-title-text {
    color: #000;
    font-family: ubuntu;
    font-size: 27px;
    line-height: 32px;
    font-weight: 800;
    letter-spacing: 4px;
}
/*BLock1*/

#block_1 {
    width: 100%;
    overflow: hidden;
    height: 780px;  
    position: relative;
}

.block_1-container {
    width: 100%;
    height: 780px;
    background: url("../../../../images/bg3.jpg") no-repeat top center;
    position: relative;
}

#block_1_header {
    background: #4EC5C5;
    width: 100%;
}

.logo {
    padding:10px 0;
    overflow: hidden;
    position: relative;
    height: 90px;
}

.logo-img1, .logo-img2 {
    float: left;
}

.logo-img1 {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 29px;
}

.logo-img2 {
    position: absolute;
    left: 24px;
    top: 16px;
}

.logo-text {
    position: absolute;
    left:90px;
    top:24px;
    text-align: left;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 2px;
}

.logo-slogan {
    font-family: Tahoma;
    font-size: 14px;
    line-height: 13px;
}

@keyframes animate-opacity {
  0%   { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeInDown  {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.logo-img01 {
    border: 0px #000000 solid;
    -webkit-animation: animate-opacity 1500ms ease 0ms infinite normal;
    -moz-animation: animate-opacity 1500ms ease 0ms infinite normal;
    -ms-animation: animate-opacity 1500ms ease 0ms infinite normal;
    animation: animate-opacity 1500ms ease 0ms infinite normal;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-block-2-left {
    position: relative;
}

.call-button {
    width: 205px;
    min-height: 50px;
    color: #3F3F3F;
    font-size: 18px;
    text-align: center;
    line-height: 19px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    border-style: none;
    -pie-box-shadow: 0px 3px 0px #CCA528;
    box-shadow: 0px 3px 0px #CCA528;
    border-color: #000000;
    background-color: #FCD032;
    border-radius: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 18px;
    right: 0;
}

.call-button a {
    text-decoration: none;
    color: #3F3F3F;
}


.call-button:hover {
    background-color: #FCD964;
    cursor: pointer;
}

.call-button p {
    line-height: 50px;
    margin: 0;
}

.phone {
    position: absolute;
    top:30px;
    right:0;    
}

.phone p {
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 28px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 3px;
}

#info-1 {
    height: 450px;
    overflow: hidden;
}

.clock1-block {
    position: relative;
}

.clock1 {
    position: absolute;
    top: 50px;
}

.clock1 img {
    float: left;
    position: relative;
    z-index: 9;
    width: 250px;
    left: -2px;
    top: 50px;
}

.arrow-block {
    position: absolute;
    top:105px;
    left: 250px;
    width: 60px;
}

.arrows {
    position: relative;
}

.arrow1, .arrow2, .arrow3, .arrow4 {
    position: absolute;
    left:0;
}

.arrow1 {
    top: -23px;
    transform: scale(1.3);
}

.arrow2 {
    top: 64px;
    transform: rotate(-23deg) scale(1.2);
}

.arrow3 {
    left: 2px;
    top: 106px;
    transform: rotate(29deg) scale(1.2);
}


.arrow4 {
    left: 0;
    top: 111px;
    transform: rotate(2deg) scale(1.2);
}

.point-block {
    position: absolute;
    left:320px;
    top: 70px;
}

.points {
    position: relative;
}

.point  {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #6c6c6c;
    border:2px solid #92cfcf;
}

.point1 {
    top: -52px;
}

.point2 {
    top: 39px;
}

.point3 {
    top: 130px;
}

.point4 {
    top: 221px;
}

.point-img {
    margin-top: 15px;
}

.clock-text-block {
    position: absolute;
    left:415px;
    top: 65px;
    width: 214px;
}

.clock-text {
    position: relative;
}

.clock-text p {
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 17px;
    line-height: 21px;
    text-align: left;
}

.clock-text-1 {
    position: absolute;
    top: -29px;
}

.clock-text-2 {
    position: absolute;
    top: 62px;
}

.clock-text-3 {
    position: absolute;
    top: 153px;
}

.clock-text-4 {
    position: absolute;
    top: 243px;
}

.call-button-2 {
    width: 450px;
    min-height: 64px;
    color: #3F3F3F;
    font-size: 24px;
    text-align: center;
    line-height: 22px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    border-style: none;
    -pie-box-shadow: 0px 3px 0px #CCA528;
    box-shadow: 0px 3px 0px #CCA528;
    border-color: #000000;
    background-color: #FCD032;
    border-radius: 3px;
}

.call-button-2 a {
    text-decoration: none;
    color: #3F3F3F;
}


.call-button-2:hover {
    background-color: #FCD964;
    cursor: pointer;
}

.call-button-2 p {
    line-height: 64px;
    margin: 0;
}

.main-price {
    width: 450px;
    float: left;
    text-align: center;
    margin-top: -57px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.arrow-to-call {
    position: absolute;
    bottom: 45px;
    right: 210px;
}
.colored-watch-price {
    margin-top: 10px;
}

/*Block2*/
#block_2 {
    position: relative;
}

.second-title {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 40px;
    color: #333333;
    font-weight: 300;
    margin:10px auto;
}

.second-title:after {
    content: '';
    width: 50px;
    height: 3px;
    display: block;
    margin:20px auto 0;
    background: #c4c4c4;
}

video {
    max-width: 100%;
}

.icons i {
    display: block;
    width: 78px;
    height: 82px;
    margin:10px auto 0;
    background: url("../../../../images/unique-icons.png");
}

.icons i.icon-2 {
    background-position: 0 -82px;
    margin: 0;
}

.icons i.icon-3 {
    background-position: 0 -164px;
    margin: 0;
}

.icons i.icon-4 {
    background-position: 0 -246px;
    margin: 0;
}

.icons i.icon-5 {
    background: url("../../../../images/about-icon-1.png") no-repeat;
    margin: 0;
}

.icons i.icon-6 {
    background: url("../../../../images/about-unique.png") no-repeat;
    width: 98px;
    height: 64px;
}

.block-2-images img {
    width: 100%;
}

.block-2-text-1 {
    margin-top: 160px;
}

.block-2-text-1-title, .block-2-text-2-title, .block-2-text-3-title, .block-3-text-1-title, .block-4-text-1-title, .block-5-text-1-title, .block-6-text-1-title, .block-7-text-1-title, .block-8-text-1-title {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 40px;
    color: #333333;
    font-weight: 300;
    margin:10px auto;
    text-align: left;
}

.block-2-text-1-t, .block-2-text-2-t, .block-2-text-3-t, .block-3-text-1-t, .block-4-text-1-t, .block-4-header-text, .block-5-text-1-t, .block-6-text-1-t, .block-7-text-1-t, .block-8-text-1-t {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}

.block-2-2 {
   margin-top: -120px; 
   overflow: hidden;
}

.block-2-text-2 {
    margin-top: 190px;
}

.block-2-text-3 {
    margin-top: 145px;
}

#block_2 .call-button-2 {
    margin: 40px auto 0;
}

.arrow-to-call-2 {
    position: absolute;
    bottom: 30px;
    left: 180px;
}

/*Block3*/
#block_3, #block_5, #block_7 {
    background: #86bf3b;
}

.block-3-images {
    margin-top: 60px;
}

.icons {
    display: block;
}

.block-3-text-1-title, .block-5-text-1-title, .block-7-text-1-title {
    color: #fff;
    font-size: 38px;
}

.block-3-text-1-t, .block-5-text-1-t, .block-7-text-1-t {
    color: #fff;
    font-size: 20px;
}

.block-3-text-1 {
    margin-top: 90px;
}

/*Block4*/
#block_4 {
    margin-top: 30px;
    position: relative;
    padding-bottom: 50px;
}

.block-4-header {
    margin-bottom: 60px;
}

.block-4-text-1 {
    margin-top: 50px;
}

.block-4-text-1 p, .block-6-text-1-t p, .block-8-text-1-t p {
    color:#808080;
    font-size: 20px;
}

.block-4-header-text {
    text-align: center;
    margin-top: 20px;
}

.block-4-text-1-title, .block-6-text-1-title, .block-8-text-1-title {
    font-size: 38px;
}

#block_4 .call-button-2 {
    margin:0 auto;
}

.arrow-to-call-3 {
    position: absolute;
    bottom: 25px;
    right: 178px;
}

/*Block5*/
.block-5-text-1, .block-6-text-1, .block-7-text-1, .block-8-text-1 {
    margin-top: 80px;
}

.block-5-images, .block-6-images, .block-7-images, .block-8-images {
    margin-top: 20px;
}

/*Block8*/
#block_8 {
    position: relative;
}

#block_8 .call-button-2 {
    margin: 40px auto 0;
}

#block_8 .arrow-to-call-4 {
    position: absolute;
    right: 178px;
    bottom: 15px;
}

/*Block9*/
.clock-functions-img {
    width: 526px;
}

.clock-functions-img img {
    width: 526px;
    margin-left: 80px;
    display: block;
}

.clock-functions-img p {
    width: 526px;
    margin-left: 80px;
    margin-top: 35px;
    text-align: center !important;
}

.clock-functions {
    position: relative;
}

.clock-functions-text-1 {
    position: absolute;
    width: 116px;
    top: 83px;
    left: -25px;
}

.clock-functions-text-2 {
    position: absolute;
    width: 116px;
    top: 101px;
    right: 32px;
}

.clock-functions-text-3 {
    position: absolute;
    top: 22px;
    right: 265px;
}

.clock-functions-text-4 {
    position: absolute;
    width: 116px;
    top: 318px;
    right: 361px;
}

.clock-functions-text-1 p, .clock-functions-text-2 p, .clock-functions-text-3, .clock-functions-text-4 , .clock-functions-img p {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 300;
    line-height: 1.1;
    text-align: right;
}

.clock-functions-text-2 p {
    text-align: left;
}

.cfp2 {
    margin-top: -2px;
}

.cfp3 {
    margin-top: 17px;
}

.cfp4 {
    margin-top: 42px;
}

.cfp6 {
    margin-top: 34px;
}

.cfp7 {
    margin-top: 34px;
}

.pink-form {
    position: relative;
    width: 300px;
    margin-right: 60px;
    margin-top: 10px;
    min-height: 300px;
    -pie-box-shadow: 3px 9px 20px #E5E5E5;
    box-shadow: 3px 9px 20px rgba(0,0,0,0.1);
    background-color: #86bf3b;
    color: #FFFFFF;
    position: relative;
}

.container.pink-form-wrapper {
    max-width: 280px;
    padding:10px;
}

#block_9 .container.pink-form-wrapper {
    margin-top: 0;
}

.pink-form-wrapper form {
    margin-bottom: 10px;
}

#u276 {
    width: 15px;
    height: 15px;
    background-color: #86bf3b;
    -webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,8);
    -ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,8);
    transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,8);
    position: absolute;
    left:-4px;
    top:145px;
}

.pink-form-header p{
    font-family: roboto ,arial, helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 1.1;    
}

.pdf-icon {
    width: 80px;
    height: 86px;
    margin:10px auto 10px;
    background: url("../../../../images/pdf-icon.png") no-repeat;    
}

#block_9 h3 {
    color: #4EC5C5;
    font-size: 48px;
    text-align: center;
    line-height: 58px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    margin: 50px auto 70px;
    position: relative;
}

.btn.btn-default.btn-pink-form {
    border-style: none;
    -pie-box-shadow: 0px 3px 0px #CCA528;
    box-shadow: 0px 3px 0px #CCA528;
    border-color: #fff;
    background: #FCD032;
    border-radius: 3px;
    color:#3F3F3F;
    text-shadow: none;
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
}

.btn.btn-default.btn-pink-form:hover {
    background: #FFD747;
}

.clock-description {
    margin:0 auto;
    text-align: center;
    width: 526px;
}

.clock-description p {
    display: block;
    margin-left:-50px;
}

/*Block10*/
#block_10 {
    background: #191919;
    margin-top: 20px;
}
.steal-children {
    width: 100%;
    background: #191919;
    margin:20px auto;
    padding:50px 0;
    position: relative;
}

.steal-children iframe {
    width:730px !important;
    height: 480px !important;
}

.steal-children h3 {
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -1px;
    color: #FFFFFF;
    font-family: ubuntu;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;
    position: relative;
    z-index: 100;
}

.steal-child-bot-ttl {
    font-family: ubuntu;
    font-weight: 500 !important;
    margin-top:70px !important;
}

.steal-children p {
    font-family: roboto ,arial, helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 1.1;  
    margin-bottom: 40px;   
}

.foot1 {
    position: absolute;
    width: 201px;
    height: 254px;
    background: url("../../../../images/foot1.png") no-repeat; 
    bottom:150px;
    left:0;
    z-index: 0;
}

.foot2 {
    position: absolute;
    width: 198px;
    height: 244px;
    background: url("../../../../images/foot2.png") no-repeat; 
    top:63px;
    right:0;
}

/*Block11*/
#block_11 {
    margin-top: 80px;
}

.company-img img {
    width:96%;
}

.company-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #333333;
    margin-bottom: 20px;
    margin-top: 40px;
}

.company-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #333333;
    margin-bottom: 20px;   
}

/*Block11-2*/
#block_11_2 {
	background: #86bf3b;
	position: relative;
}

#block_11_2 .arrow-to-call {
	right: initial;
	left: 240px;
	bottom: 75px;
}

#block_11_2 .arrow-to-call img {
	width: auto;
}

#block_11_2 .call-button-2 {
    margin: 90px auto 40px;
}

#block_11_2 .block_11_2_item_inner {
	padding: 10px;
}

#block_11_2 .block_11_2_item {
	width:20%;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	margin-left: -0.25em;
}

#block_11_2 h3 {
	font-family: roboto, arial, helvetica, sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin: 40px auto 45px;
}

#block_11_2 .block_11_2_item_title {
	font-family: roboto, arial, helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin: 10px auto 5px;
    font-weight: 600;
}

#block_11_2 .block_11_2_item_text {
	font-family: roboto, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
}

#block_11_2 img {
	width: 50%;
	display: block;
	margin: 0 auto;
}

/*Block12*/
#block_12 {
    background: #F9F9F9 url("../../../../images/geometry2.jpg") repeat left top;
}

#block_12 .container {
    padding-bottom: 30px;
}

#block_12 h3 {
    font-family: ubuntu;
    font-size: 40px;
    color: #000;
    font-weight: 300;
    margin:50px auto 70px;   
}



.hiddenbox {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.grpelem {
    display: inline;
    float: left;
}

.clearfix:after {
    content: "\0020";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#buttonu1695 {
    z-index: 432;
    width: 182px;
    border-color: #F7931E;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -125;
}

#buttonu1698 {
    z-index: 555;
    width: 182px;
    border-color: #F7931E;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: -125;
}

@keyframes perspectiveLeftRetourn {
    0% {
    transform-origin: 0;
    transform: perspective(800px) rotateY(-180deg);
    }
    100% {
        transform-origin: 0;
        transform: perspective(800px) rotateY(0deg);
    }
}

@keyframes perspectiveRightRetourn {
    0% {
        transform-origin: 100% 0;
        transform: perspective(800px) rotateY(180deg);
    }
    100% {
        transform-origin: 100% 0;
        transform: perspective(800px) rotateY(0deg);
    }
}

.contentbox17.animated {
    -webkit-animation-duration: 800ms;
    -ms-animation-duration: 800ms;
    -o-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-delay: 0ms;
    -ms-animation-delay: 0ms;
    -o-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.animated.perspectiveRightRetourn {
    -webkit-backface-visibility: visible!important;
    -moz-backface-visibility: visible!important;
    -ms-backface-visibility: visible!important;
    -o-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: perspectiveRightRetourn;
    -moz-animation-name: perspectiveRightRetourn;
    -ms-animation-name: perspectiveRightRetourn;
    -o-animation-name: perspectiveRightRetourn;
    animation-name: perspectiveRightRetourn;
}

.animated.perspectiveLeftRetourn {
    -webkit-backface-visibility: visible!important;
    -moz-backface-visibility: visible!important;
    -ms-backface-visibility: visible!important;
    -o-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: perspectiveLeftRetourn;
    -moz-animation-name: perspectiveLeftRetourn;
    -ms-animation-name: perspectiveLeftRetourn;
    -o-animation-name: perspectiveLeftRetourn;
    animation-name: perspectiveLeftRetourn;
}

.contentbox16.animated {
    -webkit-animation-duration: 800ms;
    -ms-animation-duration: 800ms;
    -o-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-delay: 0ms;
    -ms-animation-delay: 0ms;
    -o-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.colored-watch-block {
    position: relative;
}

.colored-watch-img {
    min-height: 251px;
}

p.new-price {
    font-family: Tahoma;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #ff0000;
}

p.new-price span {
    font-family: "Proximanova Bold", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #ff0000;
    text-transform: uppercase;
}

p.old-price {
    font-family: Tahoma;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: line-through;
    color: #000;
    margin-bottom: 30px;
}

.buy_btn {
    font-family: "Proximanova Bold", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #ff1616;
    padding: 15px 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-transform: uppercase;
    border: 0;
}

.buy_btn:hover,
.buy_btn:focus {
    text-decoration: none;
}

a.buy_btn {
    font-family: "Proximanova Bold", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #ff1616;
    padding: 15px 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-transform: uppercase;
}
a.buy_btn:hover,
a.buy_btn:focus {
    text-decoration: none;
}

.buy_btn.pink {
    background-color: #d63875;
    box-shadow: 0px 2px 0px 0px #982652;
    -moz-box-shadow: 0px 2px 0px 0px #982652;
    -webkit-box-shadow: 0px 2px 0px 0px #982652;
}

a.buy_btn.pink {
    background-color: #d63875;
    box-shadow: 0px 2px 0px 0px #982652;
    -moz-box-shadow: 0px 2px 0px 0px #982652;
    -webkit-box-shadow: 0px 2px 0px 0px #982652;
}

.buy_btn.orange {
    background-color: #ed8913;
    box-shadow: 0px 2px 0px 0px #982652;
    -moz-box-shadow: 0px 2px 0px 0px #982652;
    -webkit-box-shadow: 0px 2px 0px 0px #982652;
}

a.buy_btn.orange {
    background-color: #ed8913;
    box-shadow: 0px 2px 0px 0px #982652;
    -moz-box-shadow: 0px 2px 0px 0px #982652;
    -webkit-box-shadow: 0px 2px 0px 0px #982652;
}

.buy_btn.blue {
    background-color: #40c4c9;
    box-shadow: 0px 2px 0px 0px #2c8f93;
    -moz-box-shadow: 0px 2px 0px 0px #2c8f93;
    -webkit-box-shadow: 0px 2px 0px 0px #2c8f93;
}

a.buy_btn.blue {
    background-color: #40c4c9;
    box-shadow: 0px 2px 0px 0px #2c8f93;
    -moz-box-shadow: 0px 2px 0px 0px #2c8f93;
    -webkit-box-shadow: 0px 2px 0px 0px #2c8f93;
}

.buy_btn.black {
    background-color: #353535;
    box-shadow: 0px 2px 0px 0px #2c8f93;
    -moz-box-shadow: 0px 2px 0px 0px #2c8f93;
    -webkit-box-shadow: 0px 2px 0px 0px #2c8f93;
}

a.buy_btn.black {
    background-color: #353535;
    box-shadow: 0px 2px 0px 0px #2c8f93;
    -moz-box-shadow: 0px 2px 0px 0px #2c8f93;
    -webkit-box-shadow: 0px 2px 0px 0px #2c8f93;
}

.buy_btn.green {
    background-color: #86bf3b;
    box-shadow: 0px 2px 0px 0px #488226;
    -moz-box-shadow: 0px 2px 0px 0px #488226;
    -webkit-box-shadow: 0px 2px 0px 0px #488226;
}

a.buy_btn.green {
    background-color: #86bf3b;
    box-shadow: 0px 2px 0px 0px #488226;
    -moz-box-shadow: 0px 2px 0px 0px #488226;
    -webkit-box-shadow: 0px 2px 0px 0px #488226;
}
/* 
.counter {
    margin-top: 40px;
} */

.counter p{
    font-family: "Proximanova Bold", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #536d73;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

#CDT {
    height: 90px;
    width: 460px;
    margin: 0 auto;
}

.number-wrapper {
    width: 110px;
    height: 90px;
    float: left;
    color: #536d73;
    font-family: "Proximanova Bold", sans-serif;
}

.number-wrapper:after {
    content: "";
    display: inline-block;
    background: url("../../../../images/count-separator.png") no-repeat top center;
    width: 2px;
    height: 80px;
    margin-left: 108px;
    margin-top: -67px;
}

.number-wrapper:last-child:after {
    content: "";
    display: block;
    background: none;
    width: 2px;
    height: 80px;
    margin-left: 108px;
    margin-top: -95px;
}

.caption {
    width: 110px;
    text-align: center; 
    font-family: "Proximanova Regular", sans-serif;
    font-size: 14px;
}

.number {
    width: 110px;
    font-size: 60px;
    line-height: 60px;
    float: left;
    text-align: center;
    color: #ff0000;
}

/*Block13*/
#block_13 {
    background: #86bf3b;
    padding-bottom: 80px;
}

#block_13 h3 {
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    line-height: 58px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
}

#u1087 {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    -webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,8);
    -ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,8);
    transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,8);
    position: relative;
    left:550px;
    top:260px;
}

.our-guarantee {
    min-height: 396px;
    -pie-box-shadow: 0px 10px 10px #F2F2F2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.05);
    background-color: #FFFFFF;
    color: #3F3F3F;
    font-size: 18px;
    line-height: 22px;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    margin-top: 68px;
    position: relative;
    padding-top: 25px;
    padding-bottom: 15px;
}

.col-md-6.our-guarantee {
    padding:45px 30px;
}

.guarantee-item-icon {
    width: 15%;
    position: relative;
    float: left;
    margin-right: 5%;
}

.guarantee-item-icon-1 {
    background: url("../../../../images/garant-01.png") no-repeat;
    width: 61px;
    height: 61px;
    display: block;
}

.guarantee-item-icon-2 {
    background: url("../../../../images/garant-02.png") no-repeat;
    width: 61px;
    height: 61px;
    display: block;
}

.guarantee-item-icon-3 {
    background: url("../../../../images/garant-03.png") no-repeat;
    width: 61px;
    height: 61px;
    display: block;
}

.guarantee-item-icon-4 {
    background: url("../../../../images/garant-04.png") no-repeat;
    width: 61px;
    height: 61px;
    display: block;
}

.guarantee-item-text {
    width: 80%;
    position: relative;
    float: left;
}

.guarantee-item-text p {
    font-family: "Proximanova Regular", sans-serif;
    font-size: 16px;
    color: #000;    
    margin-bottom: 30px;
    text-align: left;
}

.guarantee-item-text .guarantee-item-title {
    font-family: "Proximanova Bold", sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
}

.certificate img {
    height: 618px;
    margin-top: 68px;
}

/*Block14*/
#block_14 {
    background: #4EC5C5;
    padding-top: 20px;
    padding-bottom: 20px;
}

#block_14 h3 {
    color: #fff;
    margin-bottom: 40px;
    font-family: "Proximanova Bold", sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.we-work-item:after {
    content: "";
    display: block;
    background: url("../../../../images/arrow.png") no-repeat center center;
    width: 15px;
    height: 28px;
    position: absolute;
    top: 55px;
    right: 0;
}

.we-work-item:last-child:after {
    background: none;
}

.we-work-item-icon {
    margin-bottom: 30px;
}

.we-work-item-text p {
    font-family: "Proximanova Regular", sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 22px;
}

/*Block15*/
.container-owl {
    max-width: 1000px;
    margin:20px auto;
}

.owl-carousel.owl-loaded {
    display: block;
}

.reviews-item {
    width: 459px;
    margin: 0 auto;
    height: 321px;
    border: 1px solid #d1d1d1;
    padding: 15px;
    padding-right: 0;
}

.reviews-item img {
    width: 189px !important;
    -webkit-transform-style: flat;
    transform-style: flat;
    display: inline-block !important;
    vertical-align: top;
    float: left;
}

.reviews-item-text {
    font-family: roboto, arial, helvetica, sans-serif;
    float: left;
    width: 215px;
    text-shadow: 2.5px 4.3px 27px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin:0 14px;
    line-height: 1.2;
    text-align: left;
}

.b-sect-reviews__green {
    color: #00a500;
    font-size: 12px;
    font-weight: 400;
    margin-top: 14px;
}

.container-owl {
    padding: 60px 0;
    border-top: 2px #e4e4e2 solid;
}

.container-owl .owl-prev, .container-owl .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -27px;
    width: 30px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center;
}

.container-owl .owl-prev {
    background-image: url("../../../../images/arrow-left.png") !important;
    left: -40px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* 
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../../../../owl.video.play.html") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.b-sect-reviews {
    padding: 60px 0;
    max-width: 1000px;
    margin:0 auto;
}

.b-sect-reviews .owl-prev, .b-sect-reviews .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -27px;
    width: 30px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center;
}

.b-sect-reviews .owl-prev {
    background-image: url("../../../../images/arrow-left.png");
    left: -40px;
}

.b-sect-reviews .owl-next {
    background-image: url("../../../../images/arrow-right.png");
    right: -40px;
}

.b-sect-reviews__item img {
    width: 189px !important;
    -webkit-transform-style: flat;
    transform-style: flat;
    display: inline-block !important;
    vertical-align: top;
}

.b-sect-reviews__item {
    width: 459px;
    margin: 0 auto;
    height: 321px;
    border: 1px solid #d1d1d1;
    padding: 15px;
    padding-right: 0;
}

.b-sect-reviews--s15 .b-sect-reviews__item {
    height: 315px;
}

.b-sect-reviews__text {
    display: inline-block;
    width: 240px;
    text-shadow: 2.5px 4.3px 27px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 10px;
    font-family: roboto, arial, helvetica, sans-serif;
    text-align: left;
}

.b-sect-reviews--s15 .b-sect-reviews__text {
    line-height: 1.2;
    width: 215px;
    margin-left: 14px;
}

.b-sect-reviews__row {
    font-size: 0;
    margin-top: 40px;
}

.b-sect-reviews__title {
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 300;
    color: #3abec4;
    font-family: "Roboto", sans-serif;
}

/*Block16*/
#block_16 {
    position: relative;
    margin-bottom: 40px;
    margin-top: 50px;
}

#block_16 h3 {
    font-size: 32px;
    text-align: center;
    line-height: 34px;
    font-family: ubuntu, sans-serif;    
    color:#fe2a2a;
}

.block-16-form-wrapper {
    background: #4EC5C5;
    padding:30px;
    position: relative;
}

.btn-y-form {
    width: 220px;
    min-height: 50px;
    color: #3F3F3F;
    font-size: 18px;
    text-align: center;
    line-height: 19px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    border-style: none;
    -pie-box-shadow: 0px 3px 0px #CCA528;
    box-shadow: 0px 3px 0px #CCA528;
    border-color: #000000;
    background: #FCD032;
    border-radius: 3px;
    text-shadow: none;
    text-transform: uppercase;
}

.btn-y-form:hover {
    background: #FCD964;
    cursor: pointer;
}

.btn-y-form:focus {
    outline: none;
}

.block-16-form-wrapper .form-control {
    border:0px ;
}

.bottom-form {
    background: #3dafaf;
    height: 20px;
}

.block-16-form-wrapper .btn-y-form {
    position: absolute;
    bottom: -32px;
    left: 50%;
    margin-left: -108px;
}

.block-16-form-title {
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 2px;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin:15px 0 40px;
}

.block-16-img1 {
    position: absolute;
    top: -76px;
    left:-5px;
    z-index: 3;
}

.block-16-img2 {
    position: absolute;
    z-index: 5;
    top:72px;
    right:0;
}

/*Block17*/
#block_17 {
    color:#000;
}

.logo-footer {
    padding:10px 0;
    overflow: hidden;
    position: relative;
    height: 100px;
}

.logo-footer-img1, .logo-footer-img2 {
    float: left;
}

.logo-footer-img1 {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 23px;
}

.logo-footer-img2 {
    position: absolute;
    left: 24px;
}

.logo-footer-text {
    position: absolute;
    left:90px;
    top:21px;
    text-align: left;
    color: #4ec5c5;
    font-family: Tahoma;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 2px;
}

.logo-footer-slogan {
    font-family: Tahoma;
    font-size: 14px;
    line-height: 13px;
}

#u1831-4 {
    z-index: 709;
    width: 270px;
    min-height: 40px;
    color: #4EC5C5;
    font-size: 26px;
    line-height: 31px;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    position: relative;
    background: transparent url("../../../../images/telefon_iconka.png") no-repeat left center;
    margin-top: 11px;
    float: right;
}

#u1831-2 {
    padding-left: 36px;
    padding-top: 4px;
}

.inn, .footer-links a {
    z-index: 675;
    width: 200px;
    min-height: 42px;
    background-color: transparent;
    color: #B2B2B2;
    font-family: ubuntu, sans-serif;
    text-align: left;
    font-weight: 300;
    margin-top: 1px;
    margin-left: 92px;
    font-size: 14px;
}

.footer-links a {
    text-align: center;
    text-decoration: underline;
    margin: 0;
}

.footer-links a:hover {
    text-decoration: none;
}


/*Формы обратной связи*/
.black-overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
    top:0;
    left:0;
}
/* устанавливаем рисунок основы,
  ** опрделяем размеры и положение на экране  */
.envelope, .envelope2, .envelope3, .envelope4, .envelope5  {
    display: none;
    width: 500px;
    height: 350px;
    z-index:1002;
    position: fixed;
    top: 50%;
    left:50%;
    margin: -240px 0 0 -250px;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

#envelope3 {
    padding-right: 0!important;
}

.main-form-wrapper {
    width:350px;
    margin:50px auto 0;
}

.main-form-wrapper-title {
    margin:0 auto;
    min-height: 34px;
    background-color: transparent;
    color: #333333;
    font-size: 22px;
    text-align: center;
    line-height: 27px;
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 20px;
}

.main-form-wrapper .btn-y-form {
    margin-top: 20px;
}

.close-btn {
    font-size: 15px;
    display: block;
    cursor: pointer;
    font-weight: 700;
    font-family: ubuntu;
    /* text-indent: -4999px; */
    float: right;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    text-transform: none;
    margin-right: 5px;
    padding:10px;
}

.close-btn:hover {
    text-decoration: none;
    opacity: 0.7;
    color:#000;
}

.show-btn {
    text-decoration: none;
    display: block;
    width:110px;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    background: -ms-linear-gradient(top,  #888,  #575757);
    background-image: -o-linear-gradient(top,#888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.show-btn:hover{
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    background: -ms-linear-gradient(top,  #757575,  #4b4b4b);
    background-image: -o-linear-gradient(top,#757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}

.show-btn:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
        background-image: -o-linear-gradient(top,rgb(87,87,87),rgb(136,136,136));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

.envelope3.color-clock-form, .envelope4.color-clock-form, .envelope5.color-clock-form {
    width: 580px;
    margin: -240px 0 0 -290px;
    height: 295px;

}

.main-form-wrapper.color-clock-form-wrapper {
    width: 515px;
    overflow: hidden;
    height: 260px;
}

.color-clock-form-image {
    width: 120px;
    float: left;
    margin-top: 40px;
}

.color-clock-form-image img {
    width: 100%;
}

.color-clock-form-wrapper form {
    width: 340px;
    float: right;
}

.main-form-wrapper-title.color-clock-form-title, .color-clock-form-header {
    font-family: "Proximanova Regular", sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 20px;
    margin-bottom: 15px;
}

.color-clock-form-header {
    font-family: "Proximanova Regular", sans-serif;
    font-size: 16px;
    color: #000;
    float: left;
    padding: 10px;
    margin-left: 5px;
}

.buy_btn {
    font-family: "Proximanova Bold", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #ff1616;
    padding: 15px 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-transform: uppercase;
    border: 0;
}

.buy_btn_pink {
    background-color: #d63875;
    box-shadow: 0px 2px 0px 0px #982652;
    -moz-box-shadow: 0px 2px 0px 0px #982652;
    -webkit-box-shadow: 0px 2px 0px 0px #982652;
}

.buy_btn_green  {
    background-color: #86bf3b;
    box-shadow: 0px 2px 0px 0px #488226;
    -moz-box-shadow: 0px 2px 0px 0px #488226;
    -webkit-box-shadow: 0px 2px 0px 0px #488226;
}

.buy_btn_blue {
    background-color: #40c4c9;
    box-shadow: 0px 2px 0px 0px #2c8f93;
    -moz-box-shadow: 0px 2px 0px 0px #2c8f93;
    -webkit-box-shadow: 0px 2px 0px 0px #2c8f93;
}


/*Response*/
@media only screen and (min-width: 992px) and  (max-width: 1200px) {
    .col-md-12.counter { margin-top: 20px; }
    .arrow-to-call { right: 60px; } 
    .block-2-2 { margin-top: 0; }
    .block-2-text-1 { margin-top: 50px; }
    .block-2-text-2 { margin-top: 95px; }
    .block-2-text-3 { margin-top: 40px; }
    #block_2 .call-button-2 { margin: 50px auto 0; }
    .arrow-to-call-2 { bottom: -8px; left: 80px; }
    .block-3-images { margin-top: 20px; }
    .block-3-text-1 { margin-top: 40px; }
    .block-4-text-1 { margin-top: 40px; }
    .arrow-to-call-3 { bottom: 10px; right: 70px; }
    .block-5-images, .block-6-images, .block-7-images, .block-8-images { margin-top: 0; }
    .block-5-text-1 { margin-top: 65px; }
    .block-7-text-1, .block-6-text-1, .block-8-text-1 { margin-top: 40px; }
    #block_8 .arrow-to-call-4 { right: 80px; bottom: 0px; }
    .col-md-8.clock-functions-wrapper { width: 100%; }
    .clock-functions-img { margin: 0 auto; }
    .clock-functions-img img { margin-left: 0; }
    .clock-functions-text-1 { left:152px; }
    .clock-functions-text-2 { right:156px; }
    .clock-functions-img p { margin-left: 0; }
    #block_9 h3 {margin:50px auto 30px;}
    .col-md-4.pink-form-container { width: 100%; }
    .pink-form { margin: 20px auto 0; }
    .foot2 { display: none; }
    .foot1 { display: none; }
    #block_16 { margin-top: 0; }
    .certificate img { height: 684px; }
    .block-16-img1 { top: -20px; width: 358px; }
    .block-16-img1 img { width: 100%; }
}

@media only screen and (min-width: 768px) and  (max-width: 991px) {
    #block_1_header { height: 150px; }
    .phone { top: -60px; right: 15px; }
    .call-button { top: -6px; right: -135px; }
    .arrow-to-call, .arrow-to-call-2, .arrow-to-call-3, .arrow-to-call-4 { display: none; }
    .call-button-2 { margin: 0 auto; }
    .main-price { float: none; margin: -20px auto 20px; }
    .block-2-text-1, .block-2-2, .block-2-text-2, .block-2-text-3, .block-4-text-1, .block-8-text-1 { margin-top: 0; }
    .icons { display: none; }
    .block-2-2 img { margin-top: -50px; }
    .block-2-text-1 { margin-top: 25px; }
    #block_3 img, #block_4 img, #block_5 img, #block_6 img, #block_7 img { width: 100%; }
    .block-3-text-1, .block-3-images, .block-5-text-1, .block-6-text-1, .block-7-text-1 { margin: 0; }
    .block-3-text-1-title, .block-4-text-1-title, .block-5-text-1-title, .block-6-text-1-title, 
    .block-7-text-1-title { font-size: 30px; }
    .block-8-text-1-title { font-size: 30px; text-align: center; }
    .block-8-text-1-t {text-align: center;}
    #block_9, .foot2, .foot1 {display: none;}
    .steal-children { margin: 0; padding: 25px 0; }
    .steal-children h3 { margin-bottom: 10px; }
    .steal-children p { margin-bottom: 20px; }
    .steal-child-bot-ttl { margin-top: 20px !important; }
    .company-title { font-size: 24px; margin:5px auto 10px;}
    .company-text { font-size: 16px; }
    #block_11 { margin-top: 40px; }
    .colored-watch { margin-bottom: 40px; }
    .counter { margin-top: 0; }
    .our-guarantee { min-height: auto; overflow: hidden; }
    .certificate { display: none; }
    .b-sect-reviews .owl-prev { left: 100px; }
    .b-sect-reviews .owl-next { right: 100px; }
    .b-sect-reviews { padding: 40px 0 20px; }
    #block_16 { margin-top: 0; }
    .block-16-img1, .block-16-img2 { display: none; }
    .block-16-form-wrapper { width: 460px; margin: 0 auto; }
    .clock1 { top: 50px; }
    .arrow-block { top: 105px; }
    .point-block { top: 70px; }
    .clock-text-block { top:65px; }
    #info-1 { height: 400px; }
    #block_1 { height: 820px; }
    #u1831-4 { margin-top: 18px; }
    #block_11_2 .block_11_2_item { width: 33%; }
}

@media only screen and (min-width: 660px) and  (max-width: 767px) {

    #block_1_header { height: 150px; }
    .phone { top: -60px; right: 15px; }
    .call-button { top: -6px; left: 50%; margin-left: -103px; }
    .land-title { font-size: 44px; }
    .land-title-text { font-size: 24px;}
    .clock1 { top: 40px; }
    .arrow-block { top: 95px; }
    .point-block { top: 60px; }
    .clock-text-block { top: 55px; }
    #block_1 { height: 800px;}
    #info-1 { height: 380px;}
    .block_1-container { height: 650px;}
    .call-button-2 { margin: 0 auto; }
    .main-price { float: none; margin: -20px auto 20px; }
    .arrow-to-call, .arrow-to-call-2, .arrow-to-call-3, .arrow-to-call-4 { display: none; }
    .icons { display: none; }
    .block-2-text-1, .block-2-2, .block-2-text-2, .block-2-text-3, .block-3-text-1, .block-3-images, .block-4-text-1, .block-7-text-1, .block-8-text-1 { margin-top: 0; }
    .block-2-images { display: none; }
    .second-title { font-size: 32px; text-align: center; }
    .block-2-text-1-title, .block-2-text-2-title, .block-2-text-3-title, .block-3-text-1-title, .block-4-text-1-title, .block-7-text-1-title, .block-8-text-1-title { font-size: 32px; text-align: center; }
    .block-2-text-1-t, .block-2-text-2-t, .block-2-text-3-t, .block-3-text-1-t, .block-4-text-1-t, .block-4-header-text, .block-5-text-1-t, .block-6-text-1-t, .block-7-text-1-t, .block-8-text-1-t, .block-4-text-1-t { font-size: 16px; text-align: center; }
    .block-3-images img, .block-4-images img, .block-7-images img, .block-8-images img { width: 50%; }
    .block-4-text-1 p, .block-6-text-1-t p, .block-8-text-1-t p { font-size: 16px; }
    #block_5, #block_6 { display: none; }
    #block_9 h3 { font-size: 32px; text-align: center; margin: 20px auto 10px; }
    .clock-functions { width: 526px; margin: 0 auto; }
    .clock-functions-img { margin:0 auto; }
    .clock-functions-img img { margin: 0 auto; }
    .clock-functions-text-1 { left: -55px; }
    .clock-functions-text-2 { right: -50px; }
    .clock-functions-img p { margin-left: 0px; }
    .pink-form { margin: 0 auto; }
    .grpelem { display: none; }
    .foot1, .foot2 { display: none; }
    .steal-children iframe { width: 80% !important; height: 360px !important; }
    .steal-children { margin: 0; padding: 20px 0; }
    .steal-children h3 { margin-bottom: 20px; font-size: 32px; }
    .steal-children p { margin-bottom: 20px; font-size: 16px; }
    .steal-child-bot-ttl { margin-top: 30px !important; }
    #block_11 { display: none; }
    #block_12 h3 { margin: 20px auto; }
    p.old-price { margin-bottom: 10px; }
    .colored-watch { margin-bottom: 40px;}
    .counter { margin-top: 0; }
    #block_13 { padding-bottom: 0; }
    #u1087, .certificate { display: none; }
    .our-guarantee { overflow: hidden; margin-top: 0; }
    #block_13 h3 { text-align: center; margin: 0; font-size: 32px; }
    .owl-controls { width: 459px; margin: 0 auto; }
    .b-sect-reviews .owl-prev { left: 50px; }
    .b-sect-reviews .owl-next { right: 50px; }
    .block-16-img1, .block-16-img2 { display: none; }
    .block-16-form-wrapper { margin: 0 auto -1px; width: 400px;}
    #block_16 { margin-top: 0; }
    .logo-footer { width: 400px; margin: 0 auto; }
    #u1831-4 { float: none; margin: 0 auto; }
    .inn { width: 100%; text-align: center; margin-left: 0;}
    #block_11_2 .block_11_2_item { width: 50%; }
    #block_11_2 h3 { font-size: 24px; }
}

@media only screen and (min-width: 600px) and  (max-width: 659px) {
    .logo { width: 360px; margin: 0 auto; }
    .logo-img1 { left: -15px; }
    .logo-img2 { left: 8px; }
    .logo-text { left: 65px; }
    #block_1_header { height: 190px; }
    .phone { position: initial; }
    .phone p { text-align: center; }
    .call-button { position: initial; margin: 0 auto 15px; }
    .land-title { font-size: 32px; }
    .land-title-text { font-size: 16px; line-height: 18px; letter-spacing: 2px; }
    .clock1-block { display: none; }
    .arrow-block { display: none; }
    .point-block { top: 36px; left: 0px; }
    .clock-text-block { top: 32px; left: 90px; }
    #block_1 { height: 750px;}
    #info-1 { height: 330px; width: 260px; position: relative; margin: 0 auto; overflow: initial; }
    .block_1-container { height: 560px;}
    .call-button-2 { margin: 0 auto; width: 350px; font-size: 20px; }
    .main-price { width: 350px; float: none; margin: -20px auto 20px; }
    .arrow-to-call, .arrow-to-call-2, .arrow-to-call-3, .arrow-to-call-4 { display: none; }
    .icons { display: none; }
    .block-2-text-1, .block-2-2, .block-2-text-2, .block-2-text-3, .block-3-text-1, .block-3-images, .block-4-text-1, .block-7-text-1, .block-8-text-1 { margin-top: 0; }
    .block-2-images { display: none; }
    .second-title { font-size: 24px; text-align: center; }
    .block-2-text-1-title, .block-2-text-2-title, .block-2-text-3-title, .block-3-text-1-title, .block-4-text-1-title, .block-7-text-1-title, .block-8-text-1-title { font-size: 24px; text-align: center; }
    .block-2-text-1-t, .block-2-text-2-t, .block-2-text-3-t, .block-3-text-1-t, .block-4-text-1-t, .block-4-header-text, .block-5-text-1-t, .block-6-text-1-t, .block-7-text-1-t, .block-8-text-1-t, .block-4-text-1-t { font-size: 16px; text-align: center; line-height: 1.2; }
    .block-3-images img, .block-4-images img, .block-7-images img, .block-8-images img { width: 50%; }
    .block-4-text-1 p, .block-6-text-1-t p, .block-8-text-1-t p { font-size: 16px; }
    #block_5, #block_6 { display: none; }
    #block_8 .call-button-2 { margin-top: 0; }
    #block_9 { display: none;}
    .foot1, .foot2 { display: none; }
    .steal-children iframe { width: 80% !important; height: 240px !important; }
    .steal-children { margin: 0; padding: 20px 0; }
    .steal-children h3 { margin-bottom: 5px; font-size: 24px; }
    .steal-children p { margin-bottom: 20px; font-size: 16px; }
    .steal-child-bot-ttl { margin-top: 8px !important; line-height: 28px !important; }
    #block_11 { display: none; }
    #block_12 h3 { margin: 20px auto; }
    p.old-price { margin-bottom: 10px; }
    .colored-watch { margin-bottom: 40px;}
    .counter { margin-top: 0; }
    #block_13 { padding-bottom: 0; }
    #u1087, .certificate { display: none; }
    .our-guarantee { overflow: hidden; margin-top: 0; }
    #block_13 h3 { text-align: center; margin: 0; font-size: 32px; }
    .owl-controls { width: 459px; margin: 0 auto; }
    .b-sect-reviews .owl-prev { left: -28px; }
    .b-sect-reviews .owl-next { right: -28px; }
    .block-16-img1, .block-16-img2 { display: none; }
    .block-16-form-wrapper { margin: 0 auto -1px; width: 400px;}
    #block_16 { margin-top: 0; }
    .logo-footer { width: 400px; margin: 0 auto; }
    #u1831-4 { float: none; margin: 0 auto; }
    .inn { width: 100%; text-align: center; margin-left: 0;}
    .b-sect-reviews { max-width: 380px; padding: 30px 0; }
    .b-sect-reviews__item { width: 360px; }
    .b-sect-reviews__row { margin-top: 15px; }
    .b-sect-reviews--s15 .b-sect-reviews__item { height: 242px; }
    .b-sect-reviews__item img { width: 92px !important; }
    .b-sect-reviews--s15 .b-sect-reviews__text {  width: 222px; font-size: 12px; }
    .b-sect-reviews__title { font-size: 32px; }
    .grpelem { display: none; }
    #block_11_2 .block_11_2_item { width: 50%; }
    #block_11_2 h3 { font-size: 24px; }
}

@media only screen and (min-width: 480px) and  (max-width: 599px) {
    .logo { width: 360px; margin: 0 auto; }
    .logo-img1 { left: -15px; }
    .logo-img2 { left: 8px; }
    .logo-text { left: 65px; }
    #block_1_header { height: 190px; }
    .phone { position: initial; }
    .phone p { text-align: center; }
    .call-button { position: initial; margin: 0 auto 15px; }
    .land-title { font-size: 32px; }
    .land-title-text { font-size: 16px; line-height: 18px; letter-spacing: 2px; }
    .clock1 { top: 0; }
    .clock1-block { width: 100%; }
    .clock1 img { width: 80%; margin: 0 auto; }
    .arrow-block { display: none; }
    .point-block { top: 260px; left: 0px; }
    .clock-text-block { top: 256px; left: 90px; }
    #block_1 { height: 1010px;}
    #info-1 { height: 570px; width: 260px; position: relative; margin: 0 auto; overflow: initial; }
    .block_1-container { height: 820px;     background-size: auto 100%;}
    .call-button-2 { margin: 0 auto; width: 350px; font-size: 20px; }
    .main-price { width: 350px; float: none; margin: -20px auto 20px; }
    .arrow-to-call, .arrow-to-call-2, .arrow-to-call-3, .arrow-to-call-4 { display: none; }
    .icons { display: none; }
    .block-2-text-1, .block-2-2, .block-2-text-2, .block-2-text-3, .block-3-text-1, .block-3-images, .block-4-text-1, .block-7-text-1, .block-8-text-1 { margin-top: 0; }
    .block-2-images { display: none; }
    .second-title { font-size: 24px; text-align: center; }
    .block-2-text-1-title, .block-2-text-2-title, .block-2-text-3-title, .block-3-text-1-title, .block-4-text-1-title, .block-7-text-1-title, .block-8-text-1-title { font-size: 24px; text-align: center; }
    .block-2-text-1-t, .block-2-text-2-t, .block-2-text-3-t, .block-3-text-1-t, .block-4-text-1-t, .block-4-header-text, .block-5-text-1-t, .block-6-text-1-t, .block-7-text-1-t, .block-8-text-1-t, .block-4-text-1-t { font-size: 16px; text-align: center; line-height: 1.2; }
    .block-3-images img, .block-4-images img, .block-7-images img, .block-8-images img { width: 50%; }
    .block-4-text-1 p, .block-6-text-1-t p, .block-8-text-1-t p { font-size: 16px; }
    #block_5, #block_6 { display: none; }
    #block_8 .call-button-2 { margin-top: 0; }
    #block_9 { display: none;}
    .foot1, .foot2 { display: none; }
    .steal-children iframe { width: 80% !important; height: 240px !important; }
    .steal-children { margin: 0; padding: 20px 0; }
    .steal-children h3 { margin-bottom: 5px; font-size: 24px; }
    .steal-children p { margin-bottom: 20px; font-size: 16px; }
    .steal-child-bot-ttl { margin-top: 8px !important; line-height: 28px !important; }
    #block_11 { display: none; }
    #block_12 h3 { margin: 20px auto; }
    #buttonu1695, #buttonu1698 { display: none; }
    p.old-price { margin-bottom: 10px; }
    .colored-watch { margin-bottom: 40px;}
    .counter { margin-top: 0; }
    #block_13 { padding-bottom: 0; }
    #u1087, .certificate { display: none; }
    .our-guarantee { overflow: hidden; margin-top: 0; }
    #block_13 h3 { text-align: center; margin: 0; font-size: 32px; }
    .owl-controls { width: 459px; margin: 0 auto; }
    .b-sect-reviews .owl-prev { left: -28px; }
    .b-sect-reviews .owl-next { right: -28px; }
    .block-16-img1, .block-16-img2 { display: none; }
    .block-16-form-wrapper { margin: 0 auto -1px; width: 400px;}
    #block_16 { margin-top: 0; }
    .logo-footer { width: 400px; margin: 0 auto; }
    #u1831-4 { float: none; margin: 0 auto; }
    .inn { width: 100%; text-align: center; margin-left: 0;}
    .b-sect-reviews { max-width: 380px; padding: 30px 0; }
    .b-sect-reviews__item { width: 360px; }
    .b-sect-reviews__row { margin-top: 15px; }
    .b-sect-reviews--s15 .b-sect-reviews__item { height: 242px; }
    .b-sect-reviews__item img { width: 92px !important; }
    .b-sect-reviews--s15 .b-sect-reviews__text {  width: 222px; font-size: 12px; }
    .b-sect-reviews__title { font-size: 32px; }
    .envelope, .envelope2, .envelope3, .envelope4, .envelope5 { width: 400px; margin: -200px 0 0 -200px; }
    .envelope3.color-clock-form, .envelope4.color-clock-form, .envelope5.color-clock-form {width: 400px; margin: -200px 0 0 -200px; height: 295px; }
    .main-form-wrapper.color-clock-form-wrapper { width: 340px; height: 240px; }
    .color-clock-form-image { display: none; }
    .color-clock-form-wrapper form { width: 340px; margin: 0 auto }
    .color-clock-form-header { margin-bottom: 0;}
    #block_11_2 .block_11_2_item { width: 50%; }
    #block_11_2 h3 { font-size: 24px; }
}

@media only screen and  (max-width: 479px) {
    .logo { width: 100%; margin: 0 auto; height: auto; }
    .logo-img1 { display:none; }
    .logo-img2 { display:none; }
    .logo-text { position: initial; text-align: center; }
    #block_1_header { height: 165px; }
    .phone { position: initial; }
    .phone p { text-align: center; }
    .call-button { position: initial; margin: 0 auto 15px; }
    .land-title { font-size: 20px; line-height: 24px; }
    .land-title-text { font-size: 16px; line-height: 18px; letter-spacing: 2px; font-weight: 500;}
    .clock1 { top: 0; width: 100%;}
    .clock1-block { width: 100%; }
    .clock1 img { width: 50%; margin: 0 auto; }
    .arrow-block { display: none; }
    .point-block { top: 220px; left: 0px; }
    .clock-text-block { top: 214px; left: 90px; }
    #block_1 { height: 930px;}
    #info-1 { height: 477px; width: 100%; position: relative; margin: 0 auto; overflow: initial; }
    .block_1-container { width: 100%; height: 820px; background-size: cover;}
    .call-button-2 { margin: 0 auto; width: 100%; font-size: 14px; min-height: 44px; }
    #block_11_2 .call-button-2 { margin: 15px auto;}
    .main-price { width: 280px; margin:0 auto; margin-bottom: 20px; margin-top: 50px;}
    .call-button-2 p { line-height: 44px; }
    .arrow-to-call, .arrow-to-call-2, .arrow-to-call-3, .arrow-to-call-4 { display: none; }
    .icons { display: none; }
    #block_2 { padding-bottom: 0; }
    .block-2-text-1, .block-2-2, .block-2-text-2, .block-2-text-3, .block-3-text-1, .block-3-images, .block-4-text-1, .block-7-text-1, .block-8-text-1 { margin-top: 0; }
    .block-2-images { display: none; }
    #block_2 .call-button-2 { margin-top: 10px; }
    .second-title { font-size: 20px; text-align: center; margin-top: 20px; font-weight: 500; }
    .block-2-text-1-title, .block-2-text-2-title, .block-2-text-3-title, .block-3-text-1-title, .block-4-text-1-title, .block-7-text-1-title, .block-8-text-1-title { font-size: 20px; text-align: center; font-weight: 500;}
    .block-2-text-1-t, .block-2-text-2-t, .block-2-text-3-t, .block-3-text-1-t, .block-4-text-1-t, .block-4-header-text, .block-5-text-1-t, .block-6-text-1-t, .block-7-text-1-t, .block-8-text-1-t, .block-4-text-1-t { font-size: 13px; text-align: center; line-height: 1.2; }
    .block-3-images img, .block-4-images img, .block-7-images img, .block-8-images img { width: 60%; }
    #block_4 { margin-top: 10px; padding-bottom: 23px; }
    .block-4-header { margin-bottom: 16px; }
    .block-4-text-1 p, .block-6-text-1-t p, .block-8-text-1-t p { font-size: 13px; }
    #block_5, #block_6 { display: none; }
    #block_7 .block-7-images.check { margin-top: -76px; }
    #block_8 .call-button-2 { margin-top: 0; }
    #block_9 { display: none;}
    .foot1, .foot2 { display: none; }
    .steal-children iframe { width: 90% !important; height: 180px !important; }
    .steal-children { margin: 0; padding: 20px 0; }
    .steal-children h3 { margin-bottom: 20px; font-size: 20px; line-height: 22px; }
    .steal-children p { margin-bottom: 20px; font-size: 16px; }
    .steal-child-bot-ttl { margin-top: 8px !important; line-height: 22px !important; }
    #block_11 { display: none; }
    #block_12 h3 { margin: 20px auto; font-size: 26px; }
    p.old-price { margin-bottom: 10px; }
    .colored-watch { margin-bottom: 40px;}
    .counter.last { display: none; }
    #CDT { max-width: 100%;}
    .col-md-12.counter {  padding: 1rem 0; overflow: hidden;}
    div#CDT {  display: flex; }
    div#CDT .number-wrapper  { width:25%; }
    .number { width: 100%;  }
    .caption { width: 100%; }
    .number-wrapper:after { margin-left: 79px; }
   /* div#CDT .number-wrapper span {  font-size: 40px; }*/
    #block_13 { padding-bottom: 0; }
    .guarantee-item-icon { display: none; }
    .guarantee-item-text .guarantee-item-title { text-align: center; font-weight: 600;}
    .guarantee-item-text { width: 100%; }
    .guarantee-item-text p { text-align: center; font-size: 13px; line-height: 16px; margin-bottom: 15px;  }
    #u1087, .certificate { display: none; }
    .our-guarantee { overflow: hidden; margin-top: 0; }
    #block_13 h3 { text-align: center; margin: 0; font-size: 32px; }
    #block_14 h3 { font-size: 24px; margin: 10px auto; }
    .we-work-item-text p { font-size: 14px; line-height: 16px; }
    .owl-controls { display: none; }
    .b-sect-reviews .owl-prev { left: -28px; }
    .b-sect-reviews .owl-next { right: -28px; }
    .block-16-img1, .block-16-img2 { display: none; }
    .block-16-form-wrapper { margin: 0 auto -1px; width: 300px;}
    #block_16 { margin-top: 0; }
    #block_16 h3 { font-size: 22px; }
    .logo-footer { width: 100%; margin: 0 auto; height: auto; }
    .logo-footer-img1 { display: none; }
    .logo-footer-img2 { display: none; }
    .logo-footer-text { position: initial; text-align: center; }
    #u1831-4 { float: none; margin: 0 auto; }
    .inn { width: 100%; text-align: center; margin-left: 0;}
    .b-sect-reviews { max-width: 320px; padding: 30px 0 0; }
    .b-sect-reviews__item { width: 300px; }
    .b-sect-reviews__row { margin-top: 15px; }
    .b-sect-reviews--s15 .b-sect-reviews__item { height: 387px; }
    .b-sect-reviews__item img { width: 92px !important; margin-bottom: 10px; }
    .b-sect-reviews--s15 .b-sect-reviews__text {  width: 222px; font-size: 12px; }
    .b-sect-reviews__title { font-size: 20px; }
    .envelope, .envelope2, .envelope3, .envelope4, .envelope5 { width: 300px; height: 300px; margin: -170px 0 0 -150px; }
    .envelope3.color-clock-form, .envelope4.color-clock-form, .envelope5.color-clock-form {width: 300px; margin: -170px 0 0 -150px; height: 310px; }
    .main-form-wrapper.color-clock-form-wrapper { width: 270px; height: 240px; }
    .main-form-wrapper { width: 270px; margin-top: 30px; }
    .main-form-wrapper-title { font-size: 18px; margin: 10px auto; }
    .color-clock-form-image { display: none; }
    .color-clock-form-wrapper form { width: 270px; margin: 0 auto }
    .color-clock-form-header { margin-bottom: 0; width: 260px; }
    #buttonu1695, #buttonu1698 { display: none; }
    #block_11_2 .block_11_2_item { width: 80%; display: block; margin: 0 auto; }
    #block_11_2 h3 {font-size: 18px;}

}

@media only screen and  (max-width: 450px) {
    .clock1 img {  width: 60%;  margin: 0 auto;  top: 5px;  left: 20%; }
}

@media only screen and  (max-width: 380px) {
    .clock1 img { width: 60%; margin: 0 auto; }
    #block_11_2 .block_11_2_item { width: 100%; }
}

@media only screen and  (max-width: 320px) {
    .clock1 img { width: 70%; margin: 0 auto; }
    body { min-width: 320px; max-width: 320px; }

    .clock-text-1, .clock-text-2, .clock-text-3, .clock-text-4 {
        width: 80%;}
}